.categories_products_container{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categories_products_container a{
    width: 23%;
}
.categories_product_cart{
    width: 20%;
    margin-top: 50px !important;
}
@media screen and (max-width:992px) {
    .categories_products_container a{
        width: 30%;
        height: 400px;
    }
}
@media screen and (max-width:768px) {
    .categories_products_container a{
        width: 32%;
        height: 400px;
    }
}
@media screen and (max-width:600px) {
    .categories_products_container a{
        width: 48%;
        height: 300px;
    }
}