

.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  max-width: 1500px;
}

.main_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.navbar li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_logo {
  color: #f5b921 !important;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav_menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 0;
}

.nav_links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav_item a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: color 0.5s ease;
  font-weight: 600;

}

.nav_item a:hover {
  color: #f5b921;
}

.fa_code {
  margin-left: 1rem;

}

.nav_item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav_item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav_menu_container {
  display: flex;
}

.nav_item:hover:after {
  width: 100%;
  background: #000000;
}

.nav_item:nth-of-type(4) {
  margin-right: 100px;
}

.nav_item.active {
  color: #ffdd40;
  border: 1px solid rgb(255, 221, 64);
}

.nav_icon {
  display: none;
}

.shopping_cart_icon {
  position: relative !important;
  cursor: pointer;

}

.cart_badge {
  background-color: #f5b921;
  position: absolute;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  top: 0;
  right: -10px;
  color: #000000 !important;
}

@media screen and (max-width: 1100px) {

  .nav_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    align-items: center;
    opacity: 0 !important;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;

  }

  .nav_menu.active {
    background: #ffffff;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    opacity: 1 !important;
    border-radius: 0% 0% 0% 0%;


  }

  .nav_item .active {
    color: #ffdd40;
    border: none;
  }

  .nav_links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav_item:nth-of-type(4) {
    margin-right: 0;
  }

  .nav_item {
    margin-right: 0;
    margin-bottom: 10px;
    width: fit-content;
    transition: all .5s ease;

  }

  .nav_item:hover {
    transform: translateX(10px);
  }

  .nav_item:hover:after {
    width: 100px;
    background: #000000;
  }

  .nav_icon {
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .cart_badge {
    display: none;
  }
  .nav_logo{
    font-size: 25px;
  }
}